/* FONT STACK */
body,
input, select, textarea {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}

/* BASE LAYOUT */

html {
    background-color: #fff;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    background: #aa4b6b;  /* fallback for old browsers */
    -webkit-animation: Gradient 18s ease infinite;
    animation: Gradient 18s ease infinite;
    background-size: 800% 100%!important;
    background: -webkit-linear-gradient(-45deg, #b1d4d3,#4097f9,#12ba6e,#8b8d26);
    background: -o-linear-gradient(-45deg, #b1d4d3,#4097f9,#12ba6e,#8b8d26);
    background: linear-gradient(-45deg, #b1d4d3,#4097f9,#12ba6e,#8b8d26);
    font-size: 18px;
}

main, .content, div.errors {
    min-height: 60vh;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em 2.5em 2.1em;
    background: rgba(255,255,255,.7);
}

main, footer, .content, div.errors {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.errors {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    min-height: unset;
    font-size: 18px;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: none;
    box-shadow: none;
    background: rgba(255,136,136,.7);
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

main h1, .content h1 {
    font-size: 55px;
    margin-bottom: .8em;
}

main .text_element p {
    font-size: 18px;
    max-width: 30em;
    margin-bottom: 1.2em;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 0 0 0.3em 0;
}

ul {
    padding: 0;
}

img {
    border: 0;
}

/* GENERAL */

.scaffold-list h1 {
    border: none;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* HEADER */
header  {
    width: 100%;
    text-align: center;
    padding-top: 3.5em;
}

header .logo path {
    fill: white;
}

/* FOOTER */

footer {
    text-align: right;
    padding-bottom: 2.5em;
}

footer .logout {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

/* NAVIGATION MENU */

nav {
    margin-top: 2.7em;
}

nav ul li  {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: .5em 1.5em;
}

nav ul li a:hover {
    color: white;
}

nav ul li a:hover, .logout:hover {
    opacity: .7;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #cc0000;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

th:hover, tr:hover {
    background: #f5f5f5;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0.8em 1em 0.3em;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.buttons .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(../images/skin/database_save.png);
}

a.skip {
    position: absolute;
    left: -9999px;
}

/* Transitions */
body #login #submit, .logout, .logo, nav ul li a {
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -ms-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    transition: all linear 300ms;
}

/* Login Form */

.fheader {
    display: none;
}

body #login .inner {
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 20vh auto;
    text-align: right;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

body #login .inner .cssform label {
    float: none;
    text-align: right;
    margin-left: 0;
    width: auto;
    padding: 0;
    font-size: 20px;
    margin-right: 1em;
    color: white;
    font-weight: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body #login .inner .cssform p {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    margin-bottom: 1em;
}

#remember_me_holder {
    display: none;
}

body #login .inner .cssform input[type="text"], body #login .inner .text_ {
    width: 16em;
    padding: 0.7em 1em;
    font-size: 18px;
}

body #login #submit {
    background: white;
    padding: .8em 1.5em;
    border: 3px solid white;
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

body #login #submit:hover {
    background: transparent;
    color: white;
}

.skip, .nav {
    display: none;
}

.answer_container + .answer_container {
    margin-top: 2.5em;
}

.answer__label {
    width: 8em;
    display: inline-block;
}

.answer--positive {
    margin-bottom: .3em;
}

.answer_container h2 {
    margin-bottom: .4em;
}

.message {
    display: none;
}

.logo:hover {
    transform: scale(1.1);
}

table tr:hover {
    background: transparent;
}

table tr:nth-child(2n-1), table tr:nth-child(2n-1):hover {
    background:rgba(255,255,255,.4);
}











.answer {
    background: white;
    padding: 1em;
}

.answer + .answer {
    margin-top: 2.5em;
}

.answer h2 {
    margin-bottom: 1em;
}

.chart {
    display: flex;
}

.chartlabel, .chartgraphic {
    display: inline-block;
}

.chartlabel {
    width: 9em;
    padding-right: 1em;
}

.chartgraphic {
    width: 90%;
}

.chart span {
    display: block;
}

.chartlabel span {
    width: 100%;
    text-align: right;
    padding-top: .4em;
    padding-bottom: .4em;
}

.chartlabel span:first-of-type, .chart .percentage-bar:first-of-type {
    margin-bottom: .7em;
}

.chart .chartgraphic {
    background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 5%);
    max-width: 100%;
    height: 6em,;
}

.chart .percentage-bar {
    background-color: #03965e;
    position: relative;
    box-sizing: border-box
}

.chart .percentage-bar:last-of-type {
    background: #f73c2f;
}

.chart .percentage-bar span {
    padding: .4em .8em;
    color: white;
}

.chart .percentage-bar-0, .chart .percentage-bar:last-of-type.percentage-bar-0 {
    width: 5em;
    background: transparent;
}

.chart .percentage-bar-0 span {
    color: black;
}

.chart .percentage-bar-1{
    width: 1%;
}

.chart .percentage-bar-2{
    width: 2%;
}

.chart .percentage-bar-3{
    width: 3%;
}

.chart .percentage-bar-4{
    width: 4%;
}

.chart .percentage-bar-5{
    width: 5%;
}

.chart .percentage-bar-6{
    width: 6%;
}

.chart .percentage-bar-7{
    width: 7%;
}

.chart .percentage-bar-8{
    width: 8%;
}

.chart .percentage-bar-9{
    width: 9%;
}

.chart .percentage-bar-10{
    width: 10%;
}

.chart .percentage-bar-11{
    width: 11%;
}

.chart .percentage-bar-12{
    width: 12%;
}

.chart .percentage-bar-13{
    width: 13%;
}

.chart .percentage-bar-14{
    width: 14%;
}

.chart .percentage-bar-15{
    width: 15%;
}

.chart .percentage-bar-16{
    width: 16%;
}

.chart .percentage-bar-17{
    width: 17%;
}

.chart .percentage-bar-18{
    width: 18%;
}

.chart .percentage-bar-19{
    width: 19%;
}

.chart .percentage-bar-20{
    width: 20%;
}

.chart .percentage-bar-21{
    width: 21%;
}

.chart .percentage-bar-22{
    width: 22%;
}

.chart .percentage-bar-23{
    width: 23%;
}

.chart .percentage-bar-24{
    width: 24%;
}

.chart .percentage-bar-25{
    width: 25%;
}

.chart .percentage-bar-26{
    width: 26%;
}

.chart .percentage-bar-27{
    width: 27%;
}

.chart .percentage-bar-28{
    width: 28%;
}

.chart .percentage-bar-29{
    width: 29%;
}

.chart .percentage-bar-30{
    width: 30%;
}

.chart .percentage-bar-31{
    width: 31%;
}

.chart .percentage-bar-32{
    width: 32%;
}

.chart .percentage-bar-33{
    width: 33%;
}

.chart .percentage-bar-34{
    width: 34%;
}

.chart .percentage-bar-35{
    width: 35%;
}

.chart .percentage-bar-36{
    width: 36%;
}

.chart .percentage-bar-37{
    width: 37%;
}

.chart .percentage-bar-38{
    width: 38%;
}

.chart .percentage-bar-39{
    width: 39%;
}

.chart .percentage-bar-40{
    width: 40%;
}

.chart .percentage-bar-41{
    width: 41%;
}

.chart .percentage-bar-42{
    width: 42%;
}

.chart .percentage-bar-43{
    width: 43%;
}

.chart .percentage-bar-44{
    width: 44%;
}

.chart .percentage-bar-45{
    width: 45%;
}

.chart .percentage-bar-46{
    width: 46%;
}

.chart .percentage-bar-47{
    width: 47%;
}

.chart .percentage-bar-48{
    width: 48%;
}

.chart .percentage-bar-49{
    width: 49%;
}

.chart .percentage-bar-50{
    width: 50%;
}

.chart .percentage-bar-51{
    width: 51%;
}

.chart .percentage-bar-52{
    width: 52%;
}

.chart .percentage-bar-53{
    width: 53%;
}

.chart .percentage-bar-54{
    width: 54%;
}

.chart .percentage-bar-55{
    width: 55%;
}

.chart .percentage-bar-56{
    width: 56%;
}

.chart .percentage-bar-57{
    width: 57%;
}

.chart .percentage-bar-58{
    width: 58%;
}

.chart .percentage-bar-59{
    width: 59%;
}

.chart .percentage-bar-60{
    width: 60%;
}

.chart .percentage-bar-61{
    width: 61%;
}

.chart .percentage-bar-62{
    width: 62%;
}

.chart .percentage-bar-63{
    width: 63%;
}

.chart .percentage-bar-64{
    width: 64%;
}

.chart .percentage-bar-65{
    width: 65%;
}

.chart .percentage-bar-66{
    width: 66%;
}

.chart .percentage-bar-67{
    width: 67%;
}

.chart .percentage-bar-68{
    width: 68%;
}

.chart .percentage-bar-69{
    width: 69%;
}

.chart .percentage-bar-70{
    width: 70%;
}

.chart .percentage-bar-71{
    width: 71%;
}

.chart .percentage-bar-72{
    width: 72%;
}

.chart .percentage-bar-73{
    width: 73%;
}

.chart .percentage-bar-74{
    width: 74%;
}

.chart .percentage-bar-75{
    width: 75%;
}

.chart .percentage-bar-76{
    width: 76%;
}

.chart .percentage-bar-77{
    width: 77%;
}

.chart .percentage-bar-78{
    width: 78%;
}

.chart .percentage-bar-79{
    width: 79%;
}

.chart .percentage-bar-80{
    width: 80%;
}

.chart .percentage-bar-81{
    width: 81%;
}

.chart .percentage-bar-82{
    width: 82%;
}

.chart .percentage-bar-83{
    width: 83%;
}

.chart .percentage-bar-84{
    width: 84%;
}

.chart .percentage-bar-85{
    width: 85%;
}

.chart .percentage-bar-86{
    width: 86%;
}

.chart .percentage-bar-87{
    width: 87%;
}

.chart .percentage-bar-88{
    width: 88%;
}

.chart .percentage-bar-89{
    width: 89%;
}

.chart .percentage-bar-90{
    width: 90%;
}

.chart .percentage-bar-91{
    width: 91%;
}

.chart .percentage-bar-92{
    width: 92%;
}

.chart .percentage-bar-93{
    width: 93%;
}

.chart .percentage-bar-94{
    width: 94%;
}

.chart .percentage-bar-95{
    width: 95%;
}

.chart .percentage-bar-96{
    width: 96%;
}

.chart .percentage-bar-97{
    width: 97%;
}

.chart .percentage-bar-98{
    width: 98%;
}

.chart .percentage-bar-99{
    width: 99%;
}

.chart .percentage-bar-100{
    width: 100%;
}

